mixin solid-button(width, text)
  - var id = Math.random().toString(36).substr(7)
  button.solid
    a= text
    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width=width + "px", height="33.957px", viewBox="0 0 " + width + " 33.957", enable-background="new 0 0 " + width + " 33.957")
      linearGradient(id=id, gradientUnits="userSpaceOnUse", x1="0%", y1="0%", x2="0%", y2="100%")
        stop(offset="0")
        stop.color(offset="1")
      path(fill="url(#" + id + ")", d="M" + width + ",16.994c0,1.21-0.462,2.421-1.389,3.345l-12.329,12.353l-0.002,0.005c-0.847,0.774-1.974,1.247-3.212,1.247L4.746,33.957C2.124,33.957,0,31.84,0,29.227v-12.24V4.73C0,2.117,2.124,0,4.746,0l"+ (width - 21.69) + ",0.018c1.237,0,2.365,0.473,3.212,1.247l0.001,0.005l12.342,12.364c0.927,0.924,1.389,2.135,1.389,3.345V16.994z")

mixin outline-button(width, text)
  button.outline
    a= text
    svg(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width=width + "px", height="36px", viewBox="0 0" + width + " 36", enable-background="new 0 0 " + width + " 36")
      path(fill="none", stroke-width="2", stroke-miterlimit="10", d="M" + (width - 0.94) + ",18.078c0,1.21-0.462,2.421-1.389,3.345l-12.329,12.353l-0.002,0.005c-0.847,0.774-1.974,1.247-3.212,1.247L5.817,35.041c-2.622,0-4.746-2.117-4.746-4.73V18.07V5.814c0-2.613,2.124-4.73,4.746-4.73l" + (width - 23.725) + ",0.017c1.237,0,2.365,0.474,3.212,1.248l0.001,0.005l12.342,12.364c0.927,0.924,1.389,2.135,1.389,3.345V18.078z")

mixin facebook-button()
  svg.social-button(version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="39.967px", height="40.016px", viewBox="0 0 39.967 40.016", enable-background="new 0 0 39.967 40.016")
    linearGradient(id="pls2lat6gvi", gradientUnits="userSpaceOnUse", x1="19.9829", y1="2.441406e-04", x2="19.9829", y2="40.0164")
      stop(offset="0")
      stop(offset="0.2803")
      stop(offset="0.5707")
      stop(offset="0.8648")
      stop(offset="0.9963")
    path(fill="url(#pls2lat6gvi)" d="M39.966,20.01c0,5.523-1.949,10.233-5.855,14.143c-3.901,3.913-8.607,5.863-14.125,5.863c-5.514,0-10.225-1.95-14.125-5.863c-3.904-3.909-5.86-8.619-5.86-14.143S1.958,9.772,5.861,5.863C9.761,1.955,14.472,0,19.986,0c5.518,0,10.224,1.955,14.125,5.863C38.017,9.772,39.966,14.486,39.966,20.01z M24.724,10.514h-2.973c-1.24,0-2.275,0.464-3.115,1.396c-0.832,0.929-1.25,2.049-1.25,3.348v1.86h-3.162v3.079h3.162v9.305h3.621v-9.305h3.717v-3.079h-3.717v-2.23c0-0.307,0.078-0.554,0.233-0.741c0.151-0.188,0.327-0.281,0.511-0.281h2.973V10.514z")

mixin dribbble-button()
  svg.social-button(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="39.967px", height="40.016px", viewBox="0 0 39.967 40.016", enable-background="new 0 0 39.967 40.016")
    linearGradient(id="2457aw6ogvi", gradientUnits="userSpaceOnUse", x1="19.9829", y1="2.441406e-04", x2="19.9829", y2="40.0164")
      stop(offset="0")
      stop(offset="0.2803")
      stop(offset="0.5707")
      stop(offset="0.8648")
      stop(offset="0.9963")
    path(fill="url(#2457aw6ogvi)", d="M39.967,20.01c0,5.523-1.952,10.233-5.856,14.143c-3.9,3.913-8.613,5.863-14.131,5.863c-5.514,0-10.223-1.95-14.125-5.863C1.952,30.243,0,25.533,0,20.01S1.952,9.772,5.855,5.863C9.757,1.955,14.466,0,19.98,0c5.518,0,10.23,1.955,14.131,5.863C38.015,9.772,39.967,14.486,39.967,20.01z M29.738,20.01c0-2.729-0.939-5.037-2.832-6.937c-1.889-1.887-4.195-2.836-6.926-2.836c-2.723,0-5.03,0.949-6.918,2.836c-1.893,1.899-2.842,4.207-2.842,6.937c0,2.726,0.949,5.042,2.842,6.933c1.888,1.896,4.195,2.837,6.918,2.837c2.73,0,5.037-0.941,6.926-2.837C28.798,25.052,29.738,22.735,29.738,20.01z M13.848,25.405c-1.36-1.55-2.044-3.352-2.044-5.396c0-0.063,0-0.123,0-0.188c2.852,0.064,5.637-0.307,8.365-1.12c0.249,0.435,0.432,0.84,0.56,1.214l-0.187,0.094C17.75,20.879,15.519,22.676,13.848,25.405zM12.082,18.238h-0.094c0.623-2.602,2.107-4.467,4.467-5.582c1.051,1.426,2.008,2.946,2.877,4.564C16.855,17.902,14.433,18.238,12.082,18.238z M21.375,21.5c0.807,2.108,1.367,4.122,1.676,6.048c-0.994,0.434-2.014,0.651-3.07,0.651c-1.859,0-3.498-0.559-4.922-1.678C16.174,24.226,18.275,22.553,21.375,21.5z M21.193,16.654c-0.87-1.613-1.861-3.159-2.979-4.65c0.562-0.123,1.148-0.183,1.767-0.183c2.046,0,3.814,0.646,5.299,1.95C24.416,14.946,23.05,15.913,21.193,16.654z M26.398,14.888c1.111,1.431,1.703,3.074,1.765,4.935c-1.24-0.246-2.514-0.37-3.809-0.37c-0.625,0-1.212,0.029-1.767,0.09c-0.062-0.061-0.109-0.119-0.139-0.184c-0.031-0.06-0.049-0.123-0.049-0.188c-0.189-0.375-0.344-0.745-0.468-1.12C23.916,17.251,25.405,16.194,26.398,14.888z M24.724,20.942c1.174,0,2.292,0.153,3.349,0.465c-0.438,2.231-1.581,3.998-3.442,5.302c-0.248-1.793-0.748-3.688-1.488-5.673C23.637,20.973,24.167,20.942,24.724,20.942z")

mixin linkedin-button()
  svg.social-button(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="39.967px", height="40.016px", viewBox="0 0 39.967 40.016", enable-background="new 0 0 39.967 40.016")
    linearGradient(id="b800xtdfgvi", gradientUnits="userSpaceOnUse", x1="19.9829", y1="2.441406e-04", x2="19.9829", y2="40.0164")
      stop(offset="0")
      stop(offset="0.2803")
      stop(offset="0.5707")
      stop(offset="0.8648")
      stop(offset="0.9963")
    path(fill="url(#b800xtdfgvi)", d="M39.968,20.01c0,5.523-1.957,10.233-5.863,14.143c-3.903,3.913-8.609,5.863-14.127,5.863c-5.514,0-10.221-1.95-14.125-5.863c-3.901-3.909-5.855-8.619-5.855-14.143S1.952,9.772,5.854,5.863C9.757,1.955,14.464,0,19.978,0c5.518,0,10.224,1.955,14.127,5.863C38.011,9.772,39.968,14.486,39.968,20.01z M14.635,13.073c0.406-0.405,0.606-0.882,0.606-1.439c0-0.562-0.2-1.044-0.606-1.443c-0.401-0.4-0.912-0.601-1.53-0.601c-0.621,0-1.134,0.2-1.533,0.601c-0.402,0.399-0.602,0.881-0.602,1.443c0,0.558,0.182,1.034,0.553,1.439c0.371,0.408,0.867,0.604,1.49,0.604C13.691,13.678,14.234,13.481,14.635,13.073z M15.054,15.258h-3.995v13.03h3.995V15.258z M29.832,20.568c0-1.802-0.416-3.182-1.25-4.144c-0.842-0.958-1.973-1.444-3.394-1.444c-1.799,0-3.132,0.687-3.997,2.045h-0.094l-0.188-1.768h-3.531c0.062,1.554,0.094,2.951,0.094,4.194v8.836h4.09v-7.537c0-0.435,0.028-0.775,0.094-1.021c0.432-0.997,1.141-1.491,2.135-1.491c1.365,0,2.044,0.933,2.044,2.798v7.252h3.997V20.568z")

mixin we-make-button()
  svg.social-button(version="1.1", id="Layer_1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink", x="0px", y="0px", width="39.967px", height="40.016px", viewBox="0 0 39.967 40.016", enable-background="new 0 0 39.967 40.016")
    linearGradient(id="2wx2yo2bj4i", gradientUnits="userSpaceOnUse", x1="19.9829", y1="2.441406e-04", x2="19.9829", y2="40.0164")
      stop(offset="0")
      stop(offset="0.2803")
      stop(offset="0.5707")
      stop(offset="0.8648")
      stop(offset="0.9963")
    path(fill="url(#2wx2yo2bj4i)", d="M34.112,5.864C30.21,1.955,25.498,0,19.98,0C14.466,0,9.757,1.955,5.856,5.864C1.952,9.772,0,14.486,0,20.01s1.952,10.233,5.856,14.143c3.901,3.913,8.61,5.863,14.124,5.863c5.518,0,10.23-1.95,14.132-5.863c3.903-3.909,5.855-8.619,5.855-14.143S38.015,9.772,34.112,5.864z M16.566,21.145c0.495-0.698,0.992-1.162,1.012-1.18l5.82-6.1c0.123,0.128,0.238,0.269,0.344,0.417c0.432,0.605,0.652,1.295,0.652,2.049c0,0.538-0.174,1.424-0.994,2.587c-0.415,0.579-0.836,1.011-1.013,1.184l-5.819,6.1c-0.119-0.125-0.236-0.266-0.347-0.415c-0.432-0.608-0.65-1.299-0.65-2.05C15.571,23.197,15.746,22.31,16.566,21.145z M12.719,12.584c0.889,0,1.692,0.272,2.267,0.766c0.489,0.42,0.946,0.891,1.484,1.525l0.213,0.251l0.133-0.269c0.234-0.276,0.769-0.909,1.361-1.407c1.074-0.893,2.639-1.109,3.9-0.552c0.082,0.036,0.165,0.077,0.252,0.124l-5.682,5.946l-0.191,0.209c-0.777,0.839-2.076,2.241-2.143,4.318c-0.006,0.076-0.009,0.153-0.013,0.228l-3.415-3.64c-0.336-0.342-0.674-0.756-0.95-1.164c-0.793-1.163-0.961-2.048-0.961-2.589C8.975,14.266,10.655,12.584,12.719,12.584z M27.248,27.437c-0.889,0-1.691-0.272-2.266-0.767c-0.489-0.417-0.946-0.888-1.484-1.524l-0.213-0.253l-0.132,0.264c-0.185,0.222-0.749,0.898-1.365,1.41c-1.118,0.938-2.787,1.122-4.073,0.47l5.653-5.991l0.161-0.181c0.635-0.699,1.806-1.993,2.082-3.752l0.011-0.052c0.038-0.204,0.058-0.489,0.065-0.74l3.383,3.603c0.084,0.085,0.525,0.536,0.961,1.178c0.793,1.16,0.962,2.048,0.962,2.589C30.993,25.755,29.313,27.437,27.248,27.437z")
