include ../shared/_buttons

mixin project(name, image, link, skills, type)
  .project
    img(src="/img/#{image}", alt=name, width="465", height="465")
    .overlay
      h4= name
      ul
        - for s in skills
          li= s
      a(href=link)
      - if(type == "site")
        mixin outline-button('144', 'View Site', link)
      - if(type == "study")
        mixin outline-button('222', 'View Case Study', link)

section.designs
  hr.filligre
  h3 Designs

  div
    mixin project("Figmints", "465-figmints.jpg", "/projects/figmints", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"], "study")
    mixin project("Toyship", "465-toyship.jpg", "/projects/toyship", ["Branding", "Toy Design", "Print", "Packaging", "Web"], "study")
    //- mixin project("Perfect Pears", "465-perfectpears.jpg", "//www.perfectpears.com/planner", ["Web", "UI/UX", "App Design", "Print"], "site")
    mixin project("EdTrips", "465-edtrips.jpg", "/projects/edtrips",["Branding", "Web", "UI/UX", "Print", "Social"], "study")
    mixin project("Collaborate", "465_collaborate.jpg", "/projects/collaborate", ["Web", "Mobile", "UI/UX"], "study")
    mixin project("Dinosofts", "465-dinosofts.jpg", "/projects/dinosofts", ["Branding", "Toy Design", "Packaging"], "study")   
    mixin project("Community Teamwork", "465_cti.jpg", "/projects/community-teamwork", ["Branding", "Web", "UI/UX", "Mobile", "Print", "Social"], "study")
    mixin project("BookScanner", "465-bookscanner.jpg", "/projects/bookscanner", ["Branding", "Mobile", "UI/UX"], "study")
    mixin project("Branding", "465_branding.jpg", "/projects/branding", ["A collection of branding projects."], "study")

    //- mixin solid-button('144', 'More Work', '/work')

