include ../shared/_buttons

mixin project(name, image, link, skills, type)
  .project
    img(src="/img/#{image}", alt=name, width="465", height="465")
    .overlay
      h4= name
      ul
        - for s in skills
          li= s
      a(href=link)
      - if(type == "site")
        mixin outline-button('144', 'View Site', link)
      - if(type == "study")
        mixin outline-button('222', 'View Case Study', link)

section.designs
  hr
  h3 Designs

  div
    mixin project("Figmints", "465-figmints.jpg", "//www.figmints.com", ["Branding", "Web", "Mobile", "UI/UX", "Print", "Social"], "site")
    mixin project("Toyship", "465-toyship.jpg", "//marstoyship.com", ["Branding", "Toy Design", "Print", "Packaging", "Web"], "site")
    mixin project("Perfect Pears", "465-perfectpears.jpg", "//www.perfectpears.com/planner", ["Web", "UI/UX", "App Design", "Print"], "site")
    mixin project("EdTrips", "465-edtrips.jpg", "//www.edtrips.com",["Branding", "Web", "UI/UX", "Print", "Social"], "site")
    //- mixin project("BookScanner", "465-bookscanner.jpg", "#", ["Branding", "Mobile", "UI/UX"], "study")
    mixin project("Community Teamwork", "465_cti.jpg", "//commteam.org", ["Branding", "Web", "UI/UX", "Mobile", "Print", "Social"], "site")
    //- mixin project("Dinosofts", "465-dinosofts.jpg", "#", ["Branding", "Toy Design", "Packaging"], "study")
    mixin project("Branding", "465_branding.jpg", "/projects/branding", ["A collection of branding projects."], "study")

    //- mixin solid-button('144', 'About Me', '/about')

